<form (submit)="onSubmit($event)">
  <label for="inputFile">File to upload</label>
  <input
    nbInput
    type="file"
    name="file"
    id="inputFile"
    required
    (change)="previewImage($event)"
  />

  <button nbButton>Upload</button>
</form>
<div class="images">
  <div class="preview" *ngIf="uploadedImage">
    <img [src]="uploadedImageSrc" alt="Uploaded Image" />
  </div>
  <div class="result" *ngIf="resultImageSrc">
    <img class="resultImg" [src]="resultImageSrc" alt="Result Image" />
  </div>
</div>
