.hero {
  background: linear-gradient(to bottom, rgba(#fff, 0.6) 75%, transparent),
    url("/assets/pexels-leah-kelley-185933.jpg") no-repeat center center;
  background-size: cover;
  color: #303030;
  height: 100%;
  padding-top: 5em;
  text-align: center;
  * {
    font-weight: 500;
  }
}

.cta-button {
  font-size: 1.125rem;
  padding: 0.5em 1.5em;
}

@media screen and (min-width: 30em) {
  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
