.hero {
  background: linear-gradient(to bottom, rgba(#fff, 0.5) 60%, transparent),
    url("/assets/pexels-leah-kelley-185933.jpg") no-repeat center center;
  background-size: cover;
  color: #303030;
  padding: 5em;
  text-align: center;
  * {
    font-weight: 500;
  }
}

@media screen and (min-width: 30em) {
  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
