.hero {
  padding: 5em;
  text-align: center;
}

@media screen and (min-width: 30em) {
  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
