<section>
  <h2>
    Create your own Photomosaics image<span *ngIf="sourceType"
      >, from thousands of
    </span>
    <span *ngIf="sourceType === 'cat'"
      >Cats <span aria-hidden="true">😺</span></span
    >
    <span *ngIf="sourceType === 'dog'"
      >Dogs <span aria-hidden="true">🐶</span></span
    >
    <span *ngIf="sourceType === 'anime'"
      >Anime <span aria-hidden="true">🎎</span></span
    >
    images
  </h2>
  <form #form="ngForm" (submit)="onSubmit($event, form)" ngNativeValidate>
    <div class="form-field upload-image">
      <label for="inputFile">Upload image</label>
      <input
        type="file"
        name="file"
        (change)="handleImageUpload($event)"
        required
      />
    </div>

    <div class="form-field">
      <mat-label>Choose what your image will be made of: </mat-label>
      <mat-form-field appearance="fill">
        <mat-select
          name="sourceType"
          required
          #sourceSelect="ngModel"
          [(ngModel)]="sourceType"
          placeholder="Animal images"
        >
          <mat-option value="cat">Cat</mat-option>
          <mat-option value="dog">Dog</mat-option>
          <mat-option value="anime">Anime</mat-option>
        </mat-select>
        <mat-error *ngIf="sourceSelect.errors?.['required']">
          Source type is required
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" type="submit">Upload</button>
  </form>

  <div class="images">
    <div *ngIf="uploadedImage">
      <img [src]="uploadedImageSrc" alt="Uploaded Image" />
    </div>

    <div class="result-wrapper" #resultBlock>
      <ng-template
        *ngIf="isProcessing; then spinner; else resultImg"
      ></ng-template>
    </div>
  </div>
</section>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #resultImg>
  <div>
    <app-image-magnifier
      *ngIf="!requestError"
      [imgSrc]="resultImageSrc"
    ></app-image-magnifier>
    <p *ngIf="requestError">{{ requestError }}</p>
  </div>
</ng-template>
