<header>
  <a href="/">ImageCooler <span aria-hidden="true">😎</span></a>
  <a
    class="github"
    href="https://github.com/bhuynhdev/image-cooler"
    target="_blank"
    rel="noopenner noreferer"
  >
    <span>Fork me on </span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
      alt="Github icon"
      height="30"
    />
  </a>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  Made with ❤️ by
  <a href="https://bhuynh.me">Bao Huynh</a> © 2022
</footer>
