<form (submit)="onSubmit($event)">
  <label for="inputFile">File to upload</label>
  <input
    nbInput
    type="file"
    name="file"
    id="inputFile"
    required
    (change)="previewImage($event)"
  />

  <button type="submit" nbButton>Upload</button>
</form>
<div class="images">
  <div *ngIf="uploadedImage">
    <img [src]="uploadedImageSrc" alt="Uploaded Image" />
  </div>

  <div>
    <app-image-magnifier
      *ngIf="!errorMessage"
      [imgSrc]="resultImageSrc"
    ></app-image-magnifier>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
</div>
